body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.denied{
    background-color: #dc3545;
}

.granted{
    background-color: #28a745;
}

.red {
    color: #dc3545;
}

.green{
    color: #28a745;
}

p {
    font-size: 1.1em;
}

.image-container {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}